.admin-sellers-page {
   .admin-sellers-list {
      .wrapper {
         .boxes {
            .box {
               display: flex;
               align-items: center;
               justify-content: flex-start;
               flex-wrap: wrap;
               background-color: $primary-color;
               color: $white-color;

               div {
                  flex-grow: 1;

                  button {
                     width: 100%;
                  }
               }

               .img {
                  flex-grow: 0;
                  width: 100px;
                  height: 100px;

                  img {
                     border-radius: 100%;
                     width: 100%;
                     object-fit: cover;
                     height: 100%;
                  }
               }
            }
         }
      }
   }
}
