.admin-users-page {
   .admin-users-list {
      .wrapper {
         .boxes {
            .box {
               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-wrap: wrap;
               background-color: $primary-color;
               color: $white-color;

               div {
                  flex-grow: 1;

                  button {
                     width: 100%;
                  }
               }
            }
         }
      }
   }
}
