.category-page {
   // Home Carousel
   .product-carousel {
      height: 60vh;
      background-color: $grey-color;
      position: relative;
      @include easeOut();

      .box {
         height: 60vh;
         background-color: $grey-color;
         display: flex;
         align-items: center;
         justify-content: center;

         .content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 100%;
            text-align: center;
            width: 85%;
            margin: auto;
            cursor: pointer;

            .title {
               text-transform: uppercase;
               color: $white-color;
            }

            .img {
               width: 300px;
               height: 300px;

               img {
                  border-radius: 100%;
                  object-fit: cover;
                  border: 2px solid $white-color;
                  background-color: $white-color;
                  @include easeOut();
               }
            }

            &:hover {
               .img {
                  img {
                     border: 2px solid $secondary-color;
                  }
               }
            }
         }
      }
      .icons {
         border-radius: 200%;
         opacity: 0;
         z-index: 1;
         color: $white-color;
         font-size: 3rem;
         cursor: pointer;
         @include easeOut();

         &:hover {
            color: $primary-color;
         }

         &-left {
            position: absolute;
            left: 3%;
            top: 50%;
            transform: translate(-3%, -50%);
         }

         &-right {
            position: absolute;
            right: 3%;
            top: 50%;
            transform: translate(-3%, -50%);
         }
      }

      &:hover {
         .icons {
            opacity: 1;
         }
      }
   }

   .category-intro {
      background-color: $primary-color;
      color: $white-color;
   }
}
