.change-login-page {
   .back-btn.container {
      width: 100%;
   }
   .change-login-form {
      .wrapper {
         form {
            div {
               input {
                  border: 1px solid $primary-color;
                  @include easeOut();

                  &:focus {
                     border: 1px solid $secondary-color;
                  }
               }
            }

            p {
               span {
                  cursor: pointer;
               }
            }
         }
      }
   }

   .change-login-form.section {
      padding-top: 0;
   }
}
