.forgot-password-page {
   .forgot-password-form {
      form {
         div {
            input {
               border: 1px solid $primary-color;
               @include easeOut();

               &:focus {
                  border: 1px solid $secondary-color;
               }
            }
         }

         a {
            display: block;
            font-weight: bold;
            margin: 0.5rem 0;
            text-align: right;
            color: $secondary-color;
         }

         p {
            span {
               cursor: pointer;
            }
         }
      }
   }
}
