@media (max-width: 880px) {
   .container {
      width: 90%;
   }

   .section {
      padding: 1rem 0;
   }

   .section-small {
      padding: 0.3rem 0;
   }

   // Font Sizes
   h1 {
      font-size: 4rem;
   }

   h2 {
      font-size: 3rem;
   }

   h3 {
      font-size: 2rem;
   }

   h4 {
      font-size: 1rem;
   }

   h5 {
      font-size: 0.8rem;
   }

   h6 {
      font-size: 0.6rem;
   }

   body {
      font-size: 14px;
   }

   // Buttons
   .btn {
      padding: 0.7rem 1rem;
      font-size: 0.7rem;
   }

   .lead {
      font-size: 15px;
   }

   // Form
   form {
      div {
         input,
         textarea,
         select {
            padding: 0.7rem 1rem;
            font-size: 0.7rem;
         }

         label {
            padding: 0.7rem 0;
            font-size: 0.7rem;
         }
      }
   }

   select {
      padding: 0.7rem 1rem;
      font-size: 0.7rem;
   }

   .spinner-wrapper {
      .spinner-primary {
         width: 4rem;
         height: 4rem;
      }

      .spinner-white {
         width: 4rem;
         height: 4rem;
      }

      .spinner-white-small {
         width: 1.5rem;
         height: 1.5rem;
      }
   }

   // Home Carousel
   .product-carousel {
      height: 50vh;

      .box {
         height: 50vh;

         .content {
            width: 90%;

            .img {
               width: 220px;
               height: 220px;
            }
         }
      }
      .icons {
         font-size: 2rem;
      }
   }

   .homepage {
      // Home Catgories section
      .home-categories-section {
         @include easeOut();
         position: relative;
         background-color: $primary-color;
         color: $white-color;

         .boxes {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;

            .box {
               width: 120px;

               .img {
                  height: 100px;
               }
            }
         }
      }
   }

   .product-page {
      .product-showcase {
         .wrapper {
            .details {
               .rating {
                  span {
                     i {
                        font-size: 1rem;
                     }
                  }
               }
            }

            .img {
               width: 220px;
               height: 220px;
            }
         }
      }

      .product-description {
         background-color: $primary-color;
         color: $white-color;

         h4 {
            text-transform: uppercase;
         }
      }

      .product-review {
         .primary-msg {
            margin-top: 1.5rem;
         }
      }
   }

   .cart-page {
      .cart-items {
         .content {
            .wrapper {
               .item {
                  .img {
                     width: 100px;
                     height: 100px;
                  }
               }
            }

            .checkout-section {
               width: 150px;
            }
         }
      }
   }

   .confirm-order-page {
      .wrapper {
         .confirm-order-details {
            .boxes {
               .box {
                  .details {
                     .order-item {
                        .img {
                           width: 70px;
                           height: 70px;
                        }

                        .name {
                           .brand {
                              text-transform: uppercase;
                              font-size: 0.5rem;
                           }
                        }
                     }
                  }
               }
            }
         }

         .confirm-order-checkout {
            width: 150px;
         }
      }
   }

   .order-details-page {
      .order-details-items {
         .wrapper {
            .order {
               .img {
                  width: 100px;
               }
            }
         }
      }
   }

   .my-orders-page {
      .my-orders-list {
         .wrapper {
            .boxes {
               .box {
                  .details {
                     .col-one {
                        .name {
                           .brand {
                              font-size: 0.5rem;
                           }
                        }
                     }
                  }

                  .img {
                     width: 70px;
                     height: 100px;
                  }
               }
            }
         }
      }
   }

   .profile-page {
      .profile-showcase {
         .wrapper {
            .img {
               width: 220px;
               height: 220px;
            }
         }
      }
   }

   .personal-details-page {
      .personal-details-form {
         .wrapper {
            form {
               .img-container {
                  .img {
                     width: 220px;
                     height: 220px;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 680px) {
   .container {
      width: 95%;
   }

   // Font Sizes
   h1 {
      font-size: 3rem;
   }

   h2 {
      font-size: 2rem;
   }

   h3 {
      font-size: 1.1rem;
   }

   h4 {
      font-size: 0.9rem;
   }

   h5 {
      font-size: 0.7rem;
   }

   h6 {
      font-size: 0.5rem;
   }

   body {
      font-size: 12px;
   }

   .lead {
      font-size: 13px;
   }

   // Home Carousel
   .product-carousel {
      height: 40vh;

      .box {
         height: 40vh;

         .content {
            width: 90%;

            .img {
               width: 200px;
               height: 200px;
            }
         }
      }
      .icons {
         font-size: 1.5rem;
      }
   }

   .homepage {
      // Home Catgories section
      .home-categories-section {
         .boxes {
            .box {
               width: 100px;

               .img {
                  height: 70px;
               }
            }
         }
      }
   }

   .product-page {
      .product-showcase {
         .wrapper {
            .details {
               .rating {
                  span {
                     i {
                        font-size: 0.6rem;
                     }
                  }
               }
            }

            .img {
               width: 200px;
               height: 200px;
            }
         }
      }
   }

   .cart-page {
      .cart-items {
         .content {
            .wrapper {
               .item {
                  .img {
                     width: 100px;
                     height: 70px;
                  }
               }
            }

            .checkout-section {
               width: 100%;
            }
         }
      }
   }

   .confirm-order-page {
      .wrapper {
         .confirm-order-details {
            .boxes {
               .box {
                  .details {
                     .order-item {
                        .img {
                           width: 100px;
                           height: 70px;
                        }

                        .name {
                           .brand {
                              font-size: 0.4rem;
                           }
                        }
                     }
                  }
               }
            }
         }

         .confirm-order-checkout {
            width: 100%;
         }
      }
   }

   .order-details-page {
      .order-details-items {
         .wrapper {
            .order {
               .img {
                  width: 70px;
               }
            }
         }
      }
   }

   .my-orders-page {
      .my-orders-list {
         .wrapper {
            .boxes {
               .box {
                  .details {
                     .col-one {
                        .name {
                           .brand {
                              font-size: 0.4rem;
                           }
                        }
                     }
                  }

                  .img {
                     width: 70px;
                     height: 70px;
                  }
               }
            }
         }
      }
   }

   .badge {
      padding: 0.5rem;

      font-size: 6px;
   }

   .profile-page {
      .profile-showcase {
         .wrapper {
            .img {
               width: 200px;
               height: 200px;
            }
         }
      }
   }

   .personal-details-page {
      .personal-details-form {
         .wrapper {
            form {
               .img-container {
                  .img {
                     width: 200px;
                     height: 200px;
                  }
               }
            }
         }
      }
   }

   .products-boxes {
      gap: 0.5rem;

      .box {
         width: 150px;

         .img {
            height: 100px;
         }
      }
   }

   // Header styles
   header {
      .wrapper {
         flex-direction: column;
         .logo {
            h3 {
               font-size: 1.5rem;
            }
         }

         nav {
            margin: 1rem 0;
            width: 100%;
            justify-content: space-between;

            span {
               .img {
                  width: 25px;
                  height: 25px;
               }
            }
         }
      }

      .top-banner {
         .wrapper {
            flex-direction: row;
         }
      }
   }

   // Footer
   footer {
      .footer-details {
         .wrapper {
            .box {
               width: 150px;
            }

            strong {
               font-size: 11px;
            }

            .footer-social {
               .footer-links {
                  .icon {
                     font-size: 1rem;
                  }
               }
            }

            .footer-payments {
               .footer-links {
                  .icon {
                     font-size: 1rem;
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 580px) {
   .container {
      width: 97%;
   }
}
