.product-page {
   position: relative;

   .product-showcase {
      background-color: $white-color;
      color: $primary-color;

      .wrapper {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         flex-wrap: wrap-reverse;
         width: 100%;
         gap: 1rem;

         .details {
            h4 {
               text-transform: capitalize;
            }

            .btn {
               width: 100%;
            }

            .back-btn {
               button {
                  width: initial;
               }
            }

            .rating {
               span {
                  i {
                     font-size: 1.2rem;
                  }
               }
            }
         }

         .img {
            width: 300px;
            height: 300px;

            img {
               width: 100%;
               height: 100%;
               border-radius: 100%;
               object-fit: cover;
               border: 2px solid $primary-color;
               background-color: $white-color;
               @include easeOut();
            }
         }
      }
   }

   .product-showcase.section {
      padding-top: 0;
   }

   .product-description {
      background-color: $primary-color;
      color: $white-color;

      h4 {
         text-transform: uppercase;
      }
   }

   .product-review {
      background-color: $grey-color;
      color: $white-color;

      .primary-msg {
         margin-top: 2rem;
      }

      .wrapper {
         .review-boxes {
            .box {
               background-color: $primary-color;

               .user {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
               }
            }
         }
      }
   }
}
