.profile-page {
   .profile-showcase {
      background-color: $white-color;
      color: $primary-color;

      .wrapper {
         display: flex;
         align-items: flex-end;
         justify-content: space-evenly;
         flex-wrap: wrap-reverse;
         width: 100%;
         gap: 1rem;

         .details {
            h3 {
               text-transform: uppercase;
            }
            .btn {
               width: 100%;
            }
         }

         .img {
            width: 300px;
            height: 300px;

            img {
               border-radius: 100%;
               object-fit: cover;
               border: 2px solid $primary-color;
               background-color: $white-color;
               @include easeOut();
            }
         }
      }
   }

   .profile-info {
      background-color: $primary-color;
      color: $white-color;

      .wrapper {
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: 1rem;

         .box {
            flex-grow: 1;
            background-color: $grey-color;
            cursor: pointer;

            h4 {
               text-transform: uppercase;
            }
         }

         .logout {
            background-color: $danger-color;
         }
      }
   }
}
