.register-page {
   .register-form {
      form {
         div {
            input {
               border: 1px solid $primary-color;
               @include easeOut();

               &:focus {
                  border: 1px solid $secondary-color;
               }
            }
         }

         p {
            span {
               cursor: pointer;
            }
         }
      }
   }
}
