.search-page {
   .search-form {
      // padding-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      form {
         // width: 60%;
         margin: 0 auto;

         div {
            position: relative;
            .search-icon {
               color: $grey-color;
               position: absolute;
               top: 60%;
               left: 1.5%;
               transform: translate(-1.5%, -60%);
            }
            input {
               border: 1px solid $grey-color;
               padding-left: 2.5rem;
            }

            .btn {
               position: absolute;
               top: 50%;
               transform: translate(0%, -50%);
               right: 0;
            }
         }
      }
   }

   .search-products {
      padding-top: 0;
   }
}
