.seller-edit-product-page {
   .seller-edit-product-form {
      form {
         div {
            input,
            textarea,
            select {
               border: 1px solid $primary-color;
               @include easeOut();

               &:focus {
                  border: 1px solid $secondary-color;
               }
            }
         }
         p {
            span {
               cursor: pointer;
            }
         }
      }
   }
}
