@import 'config';
@import 'utilities';
@import 'homepage';
@import 'productpage';
@import 'categorypage';
@import 'cartpage';
@import 'loginpage';
@import 'registerpage';
@import 'orderlocationpage';
@import 'confirmuserdetailspage';
@import 'paymentpage';
@import 'confirmorderpage';
@import 'ordersuccesspage';
@import 'orderdetailspage';
@import 'profilepage';
@import 'personaldetailspage';
@import 'changeloginpage';
@import 'myorderspage';
@import 'allmyorderspage';
@import 'brandpage';
@import 'allproductspage';
@import 'popularproductspage';
@import 'searchpage';

// Sellers style
@import 'sellingdashboardpage';
@import 'registersellerpage';
@import 'loginsellerpage';
@import 'sellerdashboardpage';
@import 'sellerpersonaldetails';
@import 'sellerproductspage';
@import 'sellercreateproductpage';
@import 'sellerproductpage';
@import 'sellereditproductpage';
@import 'changesellerloginpage';

// Admin styles
@import 'adminorderspage';
@import 'adminorderdetailspage';
@import 'adminuserspage';
@import 'adminsellerspage';
@import 'adminsellerdetailspage';
@import 'adminproductspage';
@import 'adminproductpage';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

body {
   font-size: 15px;
   width: 100%;
   height: 100%;
   background-color: $white-color;
   color: $primary-color;
   line-height: 1.6;
   position: relative;
}

// Header styles
header {
   background-color: $primary-color;
   color: $white-color;
   padding: 0.5rem 0;
   position: sticky;
   top: 0;
   z-index: 3;

   .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto;
      gap: 0 1rem;

      .logo {
         flex: 1;

         // background-color: orange;

         h3 {
            cursor: pointer;
            @include easeOut();

            &:hover {
               color: $secondary-color;
            }
         }
      }

      nav {
         flex: 1;
         display: flex;
         align-items: center;
         justify-content: flex-end;

         span {
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            // padding: 0.5rem;
            @include easeOut();

            .img {
               width: 35px;
               height: 35px;
               margin-right: 0.5rem;

               img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 100%;
               }
            }
            .user-icon,
            .cart-icon {
               margin-right: 0.5rem;
            }

            &:hover {
               color: $secondary-color;
            }
         }
      }
   }
}

// Footer
footer {
   background-color: darken($primary-color, 10%);
   color: $white-color;

   .footer-details {
      background-color: $primary-color;

      .wrapper {
         display: flex;

         align-items: flex-start;
         justify-content: flex-start;
         flex-wrap: wrap;
         gap: 1rem;

         .box {
            flex-grow: 1;
            width: 300px;

            .head {
               h5 {
                  text-transform: uppercase;
               }
            }

            .footer-links {
               display: flex;
               align-items: flex-start;
               justify-content: flex-start;
               flex-direction: column;
               // padding: 1rem 0;

               strong {
                  cursor: pointer;

                  font-weight: bold;
                  @include easeOut();

                  &:hover {
                     color: $secondary-color;
                  }
               }
               // margin: 0.3rem 0;
            }
         }

         .footer-social {
            .footer-links {
               flex-direction: row;
               gap: 1rem;

               .icon {
                  font-size: 1.5rem;
                  cursor: pointer;
                  @include easeOut();

                  &:hover {
                     color: $secondary-color;
                  }
               }
            }
         }

         .footer-payments {
            .footer-links {
               flex-direction: row;
               gap: 1rem;

               .icon {
                  font-size: 1.5rem;

                  cursor: pointer;
                  @include easeOut();

                  &:hover {
                     color: $secondary-color;
                  }
               }
            }
         }
      }
   }

   .footer-copyright {
      // text-align: center;
   }
}
